*
{
  box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html,body{
    overflow-x:hidden;
    margin:0;
    padding:0;
}
::-webkit-scrollbar {
	width: 10px;
  }
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
	background: #1e90ff;
	border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #000080; 
  }
body{
  background-color: #dbe5e6;
}
.sub-header {
    height: 46px;
    background-color: #1e90ff;
  }
  .sub-header {
    height: 46px;
    background-color: #1e90ff;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  .left-info {
    float: left;
    margin: 5px auto;
    padding: 0;
  }
  .right-icons {
    float: right;
    margin: 5px auto;
  }
  
  .sub-header ul li a {
    color: white;
  }
  .right-icons li a:hover {
    color: #d3d3d3;
    opacity: 1.5;
  }
  .sub-header ul {
    list-style: none;
  }
  .sub-header ul li {
    display: inline;
  }
  .font-awesome {
    margin: 10px;
  }
  @media (min-width: 768px) {
    .col-md-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  @media (max-width: 768px) {
    .sub-header {
      display: none;
    }
    .container {
      max-width: 720px;
    }
  }
  .row {
    display: flex;
  
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
  }
  
  header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    background-color: #1e1e1e;
    height: 80px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .background-header .navbar {
    padding: 10px 0px;
  }
  .background-header {
    top: 0;
    position: fixed;
    background-color: #fff !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .background-header .navbar-brand h2 {
    color: #1e90ff !important;
  }
  .background-header .navbar-nav a.nav-link {
    color: #1e1e1e !important;
  }
  .background-header .navbar-nav .nav-link:hover,
  .background-header .navbar-nav .active > .nav-link,
  .background-header .navbar-nav .nav-link.active,
  .background-header .navbar-nav .nav-link.show,
  .background-header .navbar-nav .show > .nav-link {
    color: #1e90ff !important;
  }
  .navbar .navbar-brand {
    float: left;
    margin-top: 12px;
    outline: none;
  }
  .navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar .navbar-brand h2 em {
    font-style: normal;
    font-size: 16px;
  }
  #navbarResponsive {
    z-index: 999;
  }
  .navbar-collapse {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0px 15px;
  }
  .navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
  }
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .active > .nav-link,
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .show > .nav-link {
    color: #1e90ff;
    border-bottom: 3px solid #1e90ff;
  }
  .navbar .navbar-toggler-icon {
    background-image: none;
  }
  .navbar .navbar-toggler {
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .navbar .navbar-toggler-icon:after {
    content: "\f0c9";
    color: #1e90ff;
    font-size: 18px;
    line-height: 26px;
    font-family: "FontAwesome";
  }
  @media (max-width: 992px) {
    .navbar .navbar-brand {
      position: absolute;
      left: 30px;
      top: 10px;
    }
    .navbar .navbar-brand {
      width: auto;
    }
    .navbar:after {
      display: none;
    }
    #navbarResponsive {
      z-index: 99999;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: #1e1e1e;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar .navbar-nav .nav-item {
      border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
      border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
      padding: 15px 0px;
      color: white !important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active > .nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show > .nav-link {
      color: #1e90ff !important;
      border-bottom: none !important;
    }
  }

  .carousel-item{
    height:32rem;
    background: #000;
    color:white;
    position:relative;
    background-position: center;
    background-size: cover;
  }
  .carousel-item .container{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:90px;
  }
  .carousel-item p{
    font-size:19px;
  }

  .overlay-image{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity:0.5;
  }
  @media (max-width:719px){
  .carousel-inner .container{
    margin:auto 10px;
  }
  .carousel-inner h1{
    font-size: 25px;
  }
}
                                              /* Facilities */
#facilities{
  padding:50px 0 30px 0; 
}
#facilities h1{
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px;
}
.title{
  text-align: center;
  padding:25px 0;
}
.title p{
  font-size: 18px;
}

.card{
  margin:20px 10px;
}
.card-body a{
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}
.card-body a:hover{
  color:#63a6b0;
  text-decoration: none;
}
 .col-md-4 .text-center{
  overflow: hidden;
}
.card .img-top{
  transition: all 1.5s ease;
}
.card .img-top:hover{
  transform: scale(1.15);
}
.info{
  align-items:center;
}
.internal-components{
  margin:20px auto;
}

.info-heading{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 40px;
}
.text-center:hover{
  box-shadow: 5px 5px 20px;
  transform: scale(1.05);
}
.info-p{
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 19px;
  margin-top: 30px;
}

.info-image{
  height:300px;
  width:400px;
}
.info-image:hover{
  opacity:0.85;
}
.link-facility{
  border-radius: 20px;
  background-color: #1e90ff;
  padding:5px;
  color:white;
}
.link-facility:hover{
  background-color: white;
  color:#1e90ff;
}

@media (max-width:1000px){
  .info-image{
    max-width:100%;
    height:auto;
  }
  .info{
    margin:30px 0 20px 20px;
  }
  .info .internal-components{
    width:85%;
  }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.footer{
	background-color:#24262b ;
	padding: 70px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px; 
	color:#ffffff;   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
	border-bottom: 2px solid #e91e63;
	padding-bottom: 7px;
	display: inline-flex;
}
.footer .footer-col ul{
	padding:0;
}
							
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-icons a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:rgba(255,255,255,0.2);
	margin-right: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #1e90ff;
	transition: all 0.5s ease;
}
.footer-col .social-icons a:hover{
	color: #24262b; 
	background-color: #ffffff;
}
.footer-col ul li{
  list-style: none;
}
@media (max-width: 767px) {
.footer-col {
	width: 50%;
	margin-bottom: 30px;
}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
		text-align: center;
	}
}