body{
    margin: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;

}
.accordion{
    max-width: 600px;
    display: block;
    margin:100px auto;   
}
.accordion .card{
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom:20px; 
}
.accordion .card .card-header h3{
    cursor: pointer;
    color:#ffffff;
    position: relative;
    background-color: #1E90FF;
    margin: 0;
    padding: 15px 20px;

}
.accordion .card .card-header{
    position: relative;
} 
.accordion .card .card-header span{
    position: absolute;
    right: 20px;
    top: 15px;
    height: 25px;
    width: 25px;
    color: #1E90FF;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
.accordion .card .card-body{
    padding: 20px;
}
.accordion .card .card-body {
    display: none;
}
/*open one card by default*/
.accordion .card:nth-child(1) .card-body{
    display: block;
}
.accordion .card .card-body p{
    font-size: 15px;
    line-height:24px;
    color: #444444;
    margin: 0px;
}