*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.content4{
    margin:auto;
    padding: 5%;

}
h1{
    text-align: center;
    font-weight: normal;
    text-shadow: 0 2px white, 0 3px #777;
}
.head
{
    margin-top: 7%;
}

@media only screen and (max-width:768px)
{
 .head
 {
     margin-top: 30%;
 }
}
.row h3{
    color: #1E90FF;
    text-shadow: 0 2px white, 0 3px #777;
}
.content4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color:white;
    width: 460px;
    margin: 10px;
    border-radius: 15px;
}
.card-image{
     background-color:aqua;
     height: 170px;
     margin-bottom: 15px;
     background-size: cover; 
     border-radius: 15px 15px 0 0;
}
.card-14 {
    background-image: url('../Images/tax1.jpg');
}

.card-24{
    background-image: url('../Images/gaap.jpg');
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}

.card:hover{
    background-color: #1E90FF;
    color: white;
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.content24 h1{
    text-align: center;
    font-weight: normal;
    text-shadow: 0 2px white, 0 3px #777;
    position: relative;
}
.card1{
    border: none;
    outline: none;
    -webkit-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
}
.card1 p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius:50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card1:hover .circle{
    background-color: black;
    color: white;
    transition: 0.5s;
}
