.holdingcontainer{
    max-width: 900px;
    display: flex;
    padding:40px;
    box-sizing: border-box;
    flex-direction: row;
    margin: 0 auto;
}
.internalcontainerL{
    flex: 1;
    background:transparent;
    padding: 20px;
    margin: 3px;
}
.internalcontainerR{
    flex: 1;
    background: transparent;
    padding: 20px;

    margin: 3px;
}
@media screen and (max-width: 768px){
    .holdingcontainer{
        flex-direction: column-reverse;
    }
}
.internalcontainerL:hover{
    background-color: lightskyblue;
    color: black;
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.internalcontainerR:hover{
    background-color: lightskyblue;
    color: black;
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.holdingcontainer{
    background:transparent;
    position: relative;
    animation: mymove 3s infinite;
}
@keyframes mymove{
    from{left: -15px;}
    to{left: 40px;}
}
.big h1{
    text-align: center;
    text-shadow: 0 2px white, 0 3px #777;
}
.ocontainer {
    margin-left: 5%;
    margin-right: 5%;
    max-width:2000px;
    background: lightgrey;
    border-radius: 12px;
}
.ocontainer h2{
    padding-left: 8px;
    padding-top: 8px;
    text-align: center;
}
.ocontainer p{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.acontainer{
    margin-top:0%;
    background-color:transparent;
    position: relative;
    width: 1200px;
    height: 400px;
    margin: auto;
}
.acontainer .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(250px - 30px);
   background: #000;
   float: left;
   margin: 15px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 10px;
}
.acontainer .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E90FF;
    transition: 0.5s;
    z-index: 1;
}
.acontainer .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.acontainer .box .icon .fas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color:#FFF; 
}
.acontainer .box:hover .icon .fas{
    font-size: 40px;

}
.acontainer .box .content0{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.acontainer .box:hover .content0{
    top: 100px;
    opacity: 1;
}
.acontainer .box .content0 h3{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.acontainer .box .content0 p{
    margin:0;
    padding: 0;
    color: #fff; 
}
.acontainer h2{
    text-align: center;
    font-size: 50px;
    text-shadow: 0 2px white, 0 3px #777;
    margin-top: 8%;
    margin-bottom: 0%;
}
@media (max-width: 767px) {
    .acontainer {
      width: 50%;
      margin-bottom: 30px;
    }
    .acontainer .box
    {
        width: calc(340px - 30px);
    }
    .holdingcontainer{
        background:transparent;
        position: relative;
        animation: mymove 3s;
    }
  }
@media (max-width: 574px) {
    .acontainer {
      width: 100%;
      height: 900px;
      text-align: center;
    }
    .acontainer .box
    {
        width: calc(340px - 30px);
    }

  }